# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
pd.DataFrame({'Ano': [1900,1920,1940,1960,1980,2000,2020],
              'par': [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]})

    Ano   par
0  1900 -0.08
1  1920 -0.27
2  1940  0.12
3  1960 -0.03
4  1980  0.26
5  2000  0.40
6  2020  1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:
# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
serie_anomalias = pd.Series(data=anomalias_termicas, index=anos)
print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=['Coluna_1', 'Coluna_2', 'Coluna_3'])
print(df)

      Coluna_1    Coluna_2    Coluna_3
0    94.286850  110.424050  113.714828
1    95.587610  107.124926   97.737315
2   101.057038   96.853804   91.313291
3   101.939882   88.753030   90.857738
4   101.590691   99.697480   93.379806
5    88.376957  110.480062   74.665729
6    93.736174  104.433055   85.246437
7   131.777307   97.492370   98.678277
8    87.026507  107.417759  102.255296
9   101.781609  107.765640  111.160559
10  112.337210   97.552912   91.127588
11  120.505943  102.181825   83.022655
12  105.856959   98.817658  108.825558
13  105.733380   93.986099   99.256221
14   90.492602   84.527380  101.159987
15   97.520150   86.367721   95.720113
16  104.952121  117.217401   91.671198
17   94.811266  108.888181  107.452828
18  103.303262  100.685256  117.763334
19  107.119125   99.773262  111.585536

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df.index = range(1, 21)
print(df)

            x1          x2          x3
1   105.259061  104.014118  117.244983
2   105.246694   98.166052   99.524572
3   100.725792  101.970927   95.206128
4    92.044622   88.277074   99.151959
5    97.403934   84.999540  104.021331
6    71.710523   93.823804  107.874886
7    86.291913  109.757293   94.121949
8    81.991702   86.782383   73.798561
9    82.564183   79.965583   99.062159
10   97.474996  108.111224  100.184410
11   98.037650  103.649250  108.171488
12   83.840652   92.970232  100.481566
13   89.565010  107.447753   91.248704
14  102.857855   89.182610  109.117497
15   96.922914  108.481959  102.572172
16   98.498865  112.458912   90.877722
17   97.375567   89.024150  105.982662
18  116.572041  103.733671   70.844857
19   94.473612  121.371386  103.447427
20   89.822222  108.977814   91.310466

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [23]:
# seu código aqui
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)
print(df)

            x1          x2          x3       media
1   105.259061  104.014118  117.244983  108.839387
2   105.246694   98.166052   99.524572  100.979106
3   100.725792  101.970927   95.206128   99.300949
4    92.044622   88.277074   99.151959   93.157885
5    97.403934   84.999540  104.021331   95.474935
6    71.710523   93.823804  107.874886   91.136404
7    86.291913  109.757293   94.121949   96.723719
8    81.991702   86.782383   73.798561   80.857549
9    82.564183   79.965583   99.062159   87.197309
10   97.474996  108.111224  100.184410  101.923543
11   98.037650  103.649250  108.171488  103.286129
12   83.840652   92.970232  100.481566   92.430817
13   89.565010  107.447753   91.248704   96.087156
14  102.857855   89.182610  109.117497  100.385987
15   96.922914  108.481959  102.572172  102.659015
16   98.498865  112.458912   90.877722  100.611833
17   97.375567   89.024150  105.982662   97.460793
18  116.572041  103.733671   70.844857   97.050190
19   94.473612  121.371386  103.447427  106.430809
20   89.822222  108.977814   91.310466   96.703501

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [26]:
# seu código aqui
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1   105.259061  104.014118  117.244983  108.839387  4.689873
2   105.246694   98.166052   99.524572  100.979106  4.614914
3   100.725792  101.970927   95.206128   99.300949  4.598155
4    92.044622   88.277074   99.151959   93.157885  4.534296
5    97.403934   84.999540  104.021331   95.474935  4.558864
6    71.710523   93.823804  107.874886   91.136404  4.512357
7    86.291913  109.757293   94.121949   96.723719  4.571859
8    81.991702   86.782383   73.798561   80.857549  4.392689
9    82.564183   79.965583   99.062159   87.197309  4.468173
10   97.474996  108.111224  100.184410  101.923543  4.624223
11   98.037650  103.649250  108.171488  103.286129  4.637503
12   83.840652   92.970232  100.481566   92.430817  4.526460
13   89.565010  107.447753   91.248704   96.087156  4.565256
14  102.857855   89.182610  109.117497  100.385987  4.609023
15   96.922914  108.481959  102.572172  102.659015  4.631413
16   98.498865  112.458912   90.877722  100.611833  4.611270
17   97.375567   89.024150  105.982662   97.460793  4.579450
18  116.572041  103.733671   70.844857   97.050190  4.575228
19   94.473612  121.371386  103.447427  106.430809  4.667495
20   89.822222  108.977814   91.310466   96.703501  4.571650